body {
    background-image: url("/static/eye.jpg");
    color: black;
    font-family: helvetica;
}

form.signin {
    width: 330px;
    margin: 50px auto;
}

form.signin input.form-control{
    margin-bottom: 5px;
}

form.signin input.btn{
    margin-top: 15px;
}

ul{
    list-style: none;
}


.logout button{
    float:right;
    margin: 1em;
    width: 4.5em;
    font-size: 1em;
    background-color: #00a480
}

#post_box{
    width: 100%;
    height: 4em;

}


.post_date {
    font-size: .75em;
}

.post_content {
    font-size: 1.5em;
    margin-left: 1em;
}

.container{
    clear:both;
}

.wall_post {
    background-color: #9c02a7;
    width: 100%;
    border-radius: 10px;
    padding: 1.5%;
    margin-bottom: 1.5em;
}



#submit_rating{
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em

}

#big_container {
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: rgba(137,144,150, .7);    
}

#logged_in_nav_bar{
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
}


.nav {
    float:left;
    width:20%;
}

#title_bar{
    text-align: center;
    width: 100%;
    color: rgb(255, 100, 10);
}

#content{
    text-align: center;
    overflow: hidden;
}

ul {
    padding-left:0;
}​

a:link{
    color: #ff5400;
}
.browse_box{
    margin: 1%;
    width: 29%;
    float: left;
}

#browse_boxes{
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#movie_title{
    font-size: 4em;
}

