<html>
    <head>
        <title>Judgemental Eye: Movie Reviews</title>
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">
    </head>
    <body>
        <div>

            {% if session.get("session_user_id") %}
                <div class="nav"><a href="/clear">Logout</a></div>
                <div class="nav"><a href="/user/{{session.get('session_user_id')}}">My Reviews</a></div>
                <div class="nav"><a href="/">Home</a></div>
            {% endif %}

            <div class="nav"><a href="/movie_list">All movies</a></div>
            <div class = "nav"><a href="/user_list">All users</a></div>

        </div>

        <h1 id = "title">The Judgemental Eye: Movie Reviews</h1>

        <div class="container">
            {% block body %}
            
            {% endblock %}

        </div>
    </body>
</html>
