{% extends 'master.html' %}

    {%block body%}
        <h1  id="movie_title" ><i>{{ movie.name }} </i></h1>
        {% if prediction %}
            <h3>We predict you will rate this movie {{ prediction }}.</h3>
        {% endif %}

        <h3>The average user rating: {{average}}.</h3>

        {% if user_rating %}
            <h3>You rated this movie: {{ user_rating }}.</h3>
        {% endif %}

        {% if session_user_id %}

            <h4>Add/update your review of this movie:</h4>

            <form action="/view_movie/{{movie.id}}" method="POST">
                <input type="radio" name="new_rating" value="1">1
                <input type="radio" name="new_rating" value="2">2
                <input type="radio" name="new_rating" value="3">3
                <input type="radio" name="new_rating" value="4">4
                <input type="radio" name="new_rating" value="5">5
                <input type="submit" id="submit_rating" class="btn btn-lg btn-primary btn-block" value="Submit">
            </form>

        {% endif %}
        
        {% if user_rating %}
            <h4 id="judgement">The judgemental eye says, "{{beratement}}"</h4>
        {% endif %}


        

    {% endblock %}


